<img align="left" src="https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/media/Assets&ArchHeader.jpeg?raw=true">

# Db2 11.5.4 RESTful Programming
The following notebook is a brief example of how to use the Db2 11.5.4 RESTful Endpoint service to extend the capabilies of Db2.

Programmers can create Representational State Transfer (REST) endpoints that can be used to interact with Db2.

Each endpoint is associated with a single SQL statement. Authenticated users of web, mobile, or cloud applications can use these REST endpoints from any REST HTTP client without having to install any Db2 drivers.

The Db2 REST server accepts an HTTP request, processes the request body, and returns results in JavaScript Object Notation (JSON).

The Db2 REST server is pre-installed and running on Docker on host3 (10.0.0.4) in the Demonstration cluster. As a programmer you can communicate with the service on port 50050. Your welcome note includes the external port you can use to interact with the Db2 RESTful Endpoint service directly.

You can find more information about this service at: https://www.ibm.com/support/producthub/db2/docs/content/SSEPGG_11.5.0/com.ibm.db2.luw.admin.rest.doc/doc/c_rest.html.

### Finding the Db2 RESTful Endpoint Service API Documentation
If you are running this notebook from a browser running inside the Cloud Pak for Data cluster, click: http://10.0.0.4:50050/docs If you are running this from a browser from your own desktop, check your welcome note for the address of the Db2 RESTful Service at port 50050.

## Getting Started
Before you can start submitting SQL or creating your own services you need to complete a few setup steps.

### Import the required programming libraries
The requests library is the minimum required by Python to construct RESTful service calls. The Pandas library is used to format and manipulate JSON result sets as tables. The urllib3 library is used to manage secure https requests.

In [1]:
import requests
import pandas as pd
import urllib3

### Create the Header File required for getting an authetication token
We have to provide the location of the RESTful service for our calls.
The RESTful call to the Db2 RESTful Endpoint service is contructed and transmitted as JSON. The first part of the JSON structure is the headers that define the content tyoe of the request.

In [2]:
headers = {
  "content-type": "application/json"
}

### Define the RESTful Host
The next part defines where the request is sent to. It provides the location of the RESTful service for our calls.

In [3]:
Db2RESTful = "https://10.0.0.201:31315"

### API Authentication Service
Each service has its own path in the RESTful call. For authentication we need to point to the `v1/auth` service.

In [4]:
API_Auth = "/v1/auth"

### Database Connection Information
To authenticate to the RESTful service you must provide the connection information for the database along with the userid and password that you are using to authenticate with. You can also provide an expiry time so that the access token that gets returned will be invalidated after that time period.

In [5]:
body = {
  "dbParms": {
    "dbHost": "10.0.0.201",
    "dbName": "BIGSQL",
    "dbPort": 31193,
    "isSSLConnection": False,
    "username": "admin",
    "password": "CP4DDataFabric"
  },
  "expiryTime": "300m"
}

### Disabling HTTPS Warnings

In [6]:
urllib3.disable_warnings()

### Retrieving an Access Token
When communicating with the RESTful service, you must provide the name of the service that you want to interact with. In this case the authentication service is */v1/auth*.

In [7]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_Auth), verify=False, headers=headers, json=body)
    print (response)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

<Response [200]>

A response code of 200 means that the authentication worked properly, otherwise the error that was generated is printed. The response includes a connection token that is reused throughout the rest of this lab. It ensures secure a connection without requiring that you reenter a userid and password with each request.

In [8]:
if (response.status_code == 200):
  token = response.json()["token"]
  print("Token: {}".format(token))
else:
  print(response.json()["errors"])

Token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6dHJ1ZSwiY2xpZW50X2lkIjoiNGYwNjY4YzQtNmU5Yi00ZGJlLWI5ZWEtMzg4N2ZmYWZjZDQyIiwiZXhwIjoxNjQ5NDQxNjQxLCJpc3MiOiJhZG1pbiJ9.ICjy8GSC9f9tmr_7De-LgmdEp7ojtm8I_ul9VdZXE5HcHDqOpmX8DTUfndB91C5RdrklMNsVsIHFDdylEszfQWmxILBTTLIGEmq263yerV9A6xqiKiRVuLRHVnbw7BlJCf9uMqkcjowurlNEXVmmQ0Eoal_inR4SGjsR53PzSbKqfCO7WiHLyHtzNBXJKUZEN3XVaCbBhvkE2oJeaCdq99-hRvJ9aq0RBgTDHql6GyXt8M1nA5nupYT1S7uiq1BFYq6UubXVnV2PTKI4463jibE_lIyAdYte0i36_mknyUSiLYJ1jGXZdwnetLQa2HTz30KCJmXat3ciiqr9yXWe4Q

### Creating a standard reusable JSON header
The standard header for all subsequent calls will use this format. It includes the access token.

In [9]:
headers = {
  "authorization": f"{token}",
  "content-type": "application/json"
}

## Executing an SQL Statement
Before you try creating your own customer service endpoint, you can try using some of the built in services. These let you submit SQL statements in a variety of ways. 

Executing SQL requires a different service endpoint. In this case we will use "/services/execsql"

In [10]:
API_execsql = "/v1/services/execsql"

In this example the code requests that the RESTful function waits until the command is complete.

In [11]:
sql = \
"""
SELECT AC."TAIL_NUMBER", AC."MANUFACTURER", AC."MODEL", OT."FLIGHTDATE", OT."UNIQUECARRIER", OT."AIRLINEID", OT."CARRIER", OT."TAILNUM", OT."FLIGHTNUM", OT."ORIGINAIRPORTID", OT."ORIGINAIRPORTSEQID", OT."ORIGINCITYNAME", OT."ORIGINSTATE", OT."DESTAIRPORTID", OT."DESTCITYNAME", OT."DESTSTATE", OT."DEPTIME", OT."DEPDELAY", OT."TAXIOUT", OT."WHEELSOFF", OT."WHEELSON", OT."TAXIIN", OT."ARRTIME", OT."ARRDELAY", OT."ARRDELAYMINUTES", OT."CANCELLED", OT."AIRTIME", OT."DISTANCE"
  FROM "ONTIME"."ONTIME" OT, "ONTIME"."AIRCRAFT" AC 
  WHERE AC."TAIL_NUMBER" = OT.TAILNUM
  AND ORIGINSTATE = 'NJ'
  AND DESTSTATE = 'CA'
  AND AC.MANUFACTURER = 'Boeing' 
  AND AC.MODEL LIKE 'B737%'
  AND OT.TAXIOUT > 30
  AND OT.DISTANCE > 2000
  AND OT.DEPDELAY > 300
  ORDER BY OT.ARRDELAY;
"""

In [12]:
body = {
  "isQuery": True,
  "sqlStatement": sql,
  "sync": True
}
print(body)

{'isQuery': True, 'sqlStatement': '\nSELECT AC."TAIL_NUMBER", AC."MANUFACTURER", AC."MODEL", OT."FLIGHTDATE", OT."UNIQUECARRIER", OT."AIRLINEID", OT."CARRIER", OT."TAILNUM", OT."FLIGHTNUM", OT."ORIGINAIRPORTID", OT."ORIGINAIRPORTSEQID", OT."ORIGINCITYNAME", OT."ORIGINSTATE", OT."DESTAIRPORTID", OT."DESTCITYNAME", OT."DESTSTATE", OT."DEPTIME", OT."DEPDELAY", OT."TAXIOUT", OT."WHEELSOFF", OT."WHEELSON", OT."TAXIIN", OT."ARRTIME", OT."ARRDELAY", OT."ARRDELAYMINUTES", OT."CANCELLED", OT."AIRTIME", OT."DISTANCE"\n  FROM "ONTIME"."ONTIME" OT, "ONTIME"."AIRCRAFT" AC \n  WHERE AC."TAIL_NUMBER" = OT.TAILNUM\n  AND ORIGINSTATE = \'NJ\'\n  AND DESTSTATE = \'CA\'\n  AND AC.MANUFACTURER = \'Boeing\' \n  AND AC.MODEL LIKE \'B737%\'\n  AND OT.TAXIOUT > 30\n  AND OT.DISTANCE > 2000\n  AND OT.DEPDELAY > 300\n  ORDER BY OT.ARRDELAY;\n', 'sync': True}

In [13]:
def runStatement(sql, isQuery) :
    body = {
      "isQuery": isQuery,
      "sqlStatement": sql,
      "sync": True
    }
    try:
        response = requests.post("{}{}".format(Db2RESTful,API_execsql), verify=False, headers=headers, json=body)
        return response
    except Exception as e:
        print("Unable to call RESTful service. Error={}".format(repr(e)))

In [14]:
response = runStatement(sql, True)

If the successful call returns a **200** response code.

In [15]:
print(response)

<Response [200]>

Now that you know the call is a success, you can retrieve the json in the result set.

In [16]:
print(response.json()["resultSet"])

[{'AIRLINEID': 19977, 'AIRTIME': 330, 'ARRDELAY': 285, 'ARRDELAYMINUTES': 285, 'ARRTIME': 220, 'CANCELLED': 0, 'CARRIER': 'UA', 'DEPDELAY': 311, 'DEPTIME': 2310, 'DESTAIRPORTID': 14771, 'DESTCITYNAME': 'San Francisco, CA               ', 'DESTSTATE': 'CA', 'DISTANCE': 2565, 'FLIGHTDATE': '2015-05-31T00:00:00Z', 'FLIGHTNUM': 1242, 'MANUFACTURER': 'Boeing', 'MODEL': 'B737-900ERPAX', 'ORIGINAIRPORTID': 11618, 'ORIGINAIRPORTSEQID': 1161802, 'ORIGINCITYNAME': 'Newark, NJ', 'ORIGINSTATE': 'NJ', 'TAILNUM': 'N67845', 'TAIL_NUMBER': 'N67845', 'TAXIIN': 7, 'TAXIOUT': 33, 'UNIQUECARRIER': 'UA', 'WHEELSOFF': 2343, 'WHEELSON': 213}, {'AIRLINEID': 19977, 'AIRTIME': 319, 'ARRDELAY': 320, 'ARRDELAYMINUTES': 320, 'ARRTIME': 2304, 'CANCELLED': 0, 'CARRIER': 'UA', 'DEPDELAY': 312, 'DEPTIME': 2002, 'DESTAIRPORTID': 14679, 'DESTCITYNAME': 'San Diego, CA                   ', 'DESTSTATE': 'CA', 'DISTANCE': 2425, 'FLIGHTDATE': '2013-09-12T00:00:00Z', 'FLIGHTNUM': 1200, 'MANUFACTURER': 'Boeing', 'MODEL': 'B737-700PAX', 'ORIGINAIRPORTID': 11618, 'ORIGINAIRPORTSEQID': 1161802, 'ORIGINCITYNAME': 'Newark, NJ', 'ORIGINSTATE': 'NJ', 'TAILNUM': 'N13750', 'TAIL_NUMBER': 'N13750', 'TAXIIN': 3, 'TAXIOUT': 40, 'UNIQUECARRIER': 'UA', 'WHEELSOFF': 2042, 'WHEELSON': 2301}, {'AIRLINEID': 19977, 'AIRTIME': 337, 'ARRDELAY': 326, 'ARRDELAYMINUTES': 326, 'ARRTIME': 30, 'CANCELLED': 0, 'CARRIER': 'UA', 'DEPDELAY': 310, 'DEPTIME': 2110, 'DESTAIRPORTID': 12892, 'DESTCITYNAME': 'Los Angeles, CA                 ', 'DESTSTATE': 'CA', 'DISTANCE': 2454, 'FLIGHTDATE': '2015-08-19T00:00:00Z', 'FLIGHTNUM': 1243, 'MANUFACTURER': 'Boeing', 'MODEL': 'B737-800PAX', 'ORIGINAIRPORTID': 11618, 'ORIGINAIRPORTSEQID': 1161802, 'ORIGINCITYNAME': 'Newark, NJ', 'ORIGINSTATE': 'NJ', 'TAILNUM': 'N27239', 'TAIL_NUMBER': 'N27239', 'TAXIIN': 11, 'TAXIOUT': 32, 'UNIQUECARRIER': 'UA', 'WHEELSOFF': 2142, 'WHEELSON': 19}, {'AIRLINEID': 19977, 'AIRTIME': 354, 'ARRDELAY': 334, 'ARRDELAYMINUTES': 334, 'ARRTIME': 156, 'CANCELLED': 0, 'CARRIER': 'UA', 'DEPDELAY': 321, 'DEPTIME': 2220, 'DESTAIRPORTID': 14771, 'DESTCITYNAME': 'San Francisco, CA               ', 'DESTSTATE': 'CA', 'DISTANCE': 2565, 'FLIGHTDATE': '2015-05-31T00:00:00Z', 'FLIGHTNUM': 1284, 'MANUFACTURER': 'Boeing', 'MODEL': 'B737-900ERPAX', 'ORIGINAIRPORTID': 11618, 'ORIGINAIRPORTSEQID': 1161802, 'ORIGINCITYNAME': 'Newark, NJ', 'ORIGINSTATE': 'NJ', 'TAILNUM': 'N61881', 'TAIL_NUMBER': 'N61881', 'TAXIIN': 6, 'TAXIOUT': 36, 'UNIQUECARRIER': 'UA', 'WHEELSOFF': 2256, 'WHEELSON': 150}, {'AIRLINEID': 19977, 'AIRTIME': 329, 'ARRDELAY': 356, 'ARRDELAYMINUTES': 356, 'ARRTIME': 211, 'CANCELLED': 0, 'CARRIER': 'UA', 'DEPDELAY': 306, 'DEPTIME': 2205, 'DESTAIRPORTID': 12892, 'DESTCITYNAME': 'Los Angeles, CA                 ', 'DESTSTATE': 'CA', 'DISTANCE': 2454, 'FLIGHTDATE': '2015-05-31T00:00:00Z', 'FLIGHTNUM': 1747, 'MANUFACTURER': 'Boeing', 'MODEL': 'B737-800PAX', 'ORIGINAIRPORTID': 11618, 'ORIGINAIRPORTSEQID': 1161802, 'ORIGINCITYNAME': 'Newark, NJ', 'ORIGINSTATE': 'NJ', 'TAILNUM': 'N14214', 'TAIL_NUMBER': 'N14214', 'TAXIIN': 18, 'TAXIOUT': 79, 'UNIQUECARRIER': 'UA', 'WHEELSOFF': 2324, 'WHEELSON': 153}, {'AIRLINEID': 19977, 'AIRTIME': 322, 'ARRDELAY': 374, 'ARRDELAYMINUTES': 374, 'ARRTIME': 122, 'CANCELLED': 0, 'CARRIER': 'UA', 'DEPDELAY': 348, 'DEPTIME': 2158, 'DESTAIRPORTID': 12892, 'DESTCITYNAME': 'Los Angeles, CA                 ', 'DESTSTATE': 'CA', 'DISTANCE': 2454, 'FLIGHTDATE': '2015-06-15T00:00:00Z', 'FLIGHTNUM': 1289, 'MANUFACTURER': 'Boeing', 'MODEL': 'B737-800PAX', 'ORIGINAIRPORTID': 11618, 'ORIGINAIRPORTSEQID': 1161802, 'ORIGINCITYNAME': 'Newark, NJ', 'ORIGINSTATE': 'NJ', 'TAILNUM': 'N78524', 'TAIL_NUMBER': 'N78524', 'TAXIIN': 30, 'TAXIOUT': 32, 'UNIQUECARRIER': 'UA', 'WHEELSOFF': 2230, 'WHEELSON': 52}, {'AIRLINEID': 19977, 'AIRTIME': 315, 'ARRDELAY': 380, 'ARRDELAYMINUTES': 380, 'ARRTIME': 2212, 'CANCELLED': 0, 'CARRIER': 'UA', 'DEPDELAY': 347, 'DEPTIME': 1847, 'DESTAIRPORTID': 12892, 'DESTCITYNAME': 'Los Angeles, CA                 ', 'DESTSTATE': 'CA', 'DISTANCE': 2454, 'FLIGHTDATE': '2012-08-10T00:00:00Z', 'FLIGHTNUM': 17, 'MANUFACTURER': 'Boeing', 'MODEL': 'B737-800PAX', 'ORIGINAIRPORTID': 11618, 'ORIGINAIRPORTSEQID': 1161802, 'ORIGINCITYNAME': 'Newark, NJ', 'ORIGINSTATE': 'NJ', 'TAILNUM': 'N73291', 'TAIL_NUMBER': 'N73291', 'TAXIIN': 31, 'TAXIOUT': 39, 'UNIQUECARRIER': 'UA', 'WHEELSOFF': 1926, 'WHEELSON': 2141}, {'AIRLINEID': 19977, 'AIRTIME': 358, 'ARRDELAY': 385, 'ARRDELAYMINUTES': 385, 'ARRTIME': 40, 'CANCELLED': 0, 'CARRIER': 'UA', 'DEPDELAY': 319, 'DEPTIME': 2019, 'DESTAIRPORTID': 14771, 'DESTCITYNAME': 'San Francisco, CA               ', 'DESTSTATE': 'CA', 'DISTANCE': 2565, 'FLIGHTDATE': '2015-05-31T00:00:00Z', 'FLIGHTNUM': 1670, 'MANUFACTURER': 'Boeing', 'MODEL': 'B737-900ERPAX', 'ORIGINAIRPORTID': 11618, 'ORIGINAIRPORTSEQID': 1161802, 'ORIGINCITYNAME': 'Newark, NJ', 'ORIGINSTATE': 'NJ', 'TAILNUM': 'N37470', 'TAIL_NUMBER': 'N37470', 'TAXIIN': 6, 'TAXIOUT': 77, 'UNIQUECARRIER': 'UA', 'WHEELSOFF': 2136, 'WHEELSON': 34}]

To format the results, use a Pandas Dataframe class to convert the json result set into a table. Dataframes can be used to further manipulate results in Python.

In [17]:
display(pd.DataFrame(response.json()['resultSet']))

,AIRLINEID,AIRTIME,ARRDELAY,ARRDELAYMINUTES,ARRTIME,CANCELLED,CARRIER,DEPDELAY,DEPTIME,DESTAIRPORTID,...,ORIGINAIRPORTSEQID,ORIGINCITYNAME,ORIGINSTATE,TAILNUM,TAIL_NUMBER,TAXIIN,TAXIOUT,UNIQUECARRIER,WHEELSOFF,WHEELSON
0,19977,330,285,285,220,0,UA,311,2310,14771,...,1161802,"Newark, NJ",NJ,N67845,N67845,7,33,UA,2343,213
1,19977,319,320,320,2304,0,UA,312,2002,14679,...,1161802,"Newark, NJ",NJ,N13750,N13750,3,40,UA,2042,2301
2,19977,337,326,326,30,0,UA,310,2110,12892,...,1161802,"Newark, NJ",NJ,N27239,N27239,11,32,UA,2142,19
3,19977,354,334,334,156,0,UA,321,2220,14771,...,1161802,"Newark, NJ",NJ,N61881,N61881,6,36,UA,2256,150
4,19977,329,356,356,211,0,UA,306,2205,12892,...,1161802,"Newark, NJ",NJ,N14214,N14214,18,79,UA,2324,153
5,19977,322,374,374,122,0,UA,348,2158,12892,...,1161802,"Newark, NJ",NJ,N78524,N78524,30,32,UA,2230,52
6,19977,315,380,380,2212,0,UA,347,1847,12892,...,1161802,"Newark, NJ",NJ,N73291,N73291,31,39,UA,1926,2141
7,19977,358,385,385,40,0,UA,319,2019,14771,...,1161802,"Newark, NJ",NJ,N37470,N37470,6,77,UA,2136,34

## Use Parameters in a SQL Statement
Simple parameter passing is also available through the execsql service. In this case we are passing the employee number into the query to retrieve the full employee record. Try substituting different employee numbers and run the REST call again. For example, you can change "000010" to "000020", or "000030".

In [18]:
sqlparm = \
"""
SELECT AC."TAIL_NUMBER", AC."MANUFACTURER", AC."MODEL", OT."FLIGHTDATE", OT."UNIQUECARRIER", OT."AIRLINEID", OT."CARRIER", OT."TAILNUM", OT."FLIGHTNUM", OT."ORIGINAIRPORTID", OT."ORIGINAIRPORTSEQID", OT."ORIGINCITYNAME", OT."ORIGINSTATE", OT."DESTAIRPORTID", OT."DESTCITYNAME", OT."DESTSTATE", OT."DEPTIME", OT."DEPDELAY", OT."TAXIOUT", OT."WHEELSOFF", OT."WHEELSON", OT."TAXIIN", OT."ARRTIME", OT."ARRDELAY", OT."ARRDELAYMINUTES", OT."CANCELLED", OT."AIRTIME", OT."DISTANCE"
  FROM "ONTIME"."ONTIME" OT, "ONTIME"."AIRCRAFT" AC 
  WHERE AC."TAIL_NUMBER" = OT.TAILNUM
  AND ORIGINSTATE = 'NJ'
  AND DESTSTATE = 'CA'
  AND AC.MANUFACTURER = 'Boeing' 
  AND AC.MODEL LIKE 'B737%'
  AND OT.TAXIOUT > 30
  AND OT.DISTANCE > 2000
  AND OT.DEPDELAY > ?
  ORDER BY OT.ARRDELAY;
"""

body = {
  "isQuery": True,
  "parameters" : {
      "1" : 300
  },
  "sqlStatement": sqlparm,
  "sync": True
}

In [19]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_execsql), verify=False, headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [20]:
print(response)

<Response [200]>

In [21]:
response.json()["resultSet"]

[{'AIRLINEID': 19977,
  'AIRTIME': 330,
  'ARRDELAY': 285,
  'ARRDELAYMINUTES': 285,
  'ARRTIME': 220,
  'CANCELLED': 0,
  'CARRIER': 'UA',
  'DEPDELAY': 311,
  'DEPTIME': 2310,
  'DESTAIRPORTID': 14771,
  'DESTCITYNAME': 'San Francisco, CA               ',
  'DESTSTATE': 'CA',
  'DISTANCE': 2565,
  'FLIGHTDATE': '2015-05-31T00:00:00Z',
  'FLIGHTNUM': 1242,
  'MANUFACTURER': 'Boeing',
  'MODEL': 'B737-900ERPAX',
  'ORIGINAIRPORTID': 11618,
  'ORIGINAIRPORTSEQID': 1161802,
  'ORIGINCITYNAME': 'Newark, NJ',
  'ORIGINSTATE': 'NJ',
  'TAILNUM': 'N67845',
  'TAIL_NUMBER': 'N67845',
  'TAXIIN': 7,
  'TAXIOUT': 33,
  'UNIQUECARRIER': 'UA',
  'WHEELSOFF': 2343,
  'WHEELSON': 213},
 {'AIRLINEID': 19977,
  'AIRTIME': 319,
  'ARRDELAY': 320,
  'ARRDELAYMINUTES': 320,
  'ARRTIME': 2304,
  'CANCELLED': 0,
  'CARRIER': 'UA',
  'DEPDELAY': 312,
  'DEPTIME': 2002,
  'DESTAIRPORTID': 14679,
  'DESTCITYNAME': 'San Diego, CA                   ',
  'DESTSTATE': 'CA',
  'DISTANCE': 2425,
  'FLIGHTDATE': '2013-09-12T00:00:00Z',
  'FLIGHTNUM': 1200,
  'MANUFACTURER': 'Boeing',
  'MODEL': 'B737-700PAX',
  'ORIGINAIRPORTID': 11618,
  'ORIGINAIRPORTSEQID': 1161802,
  'ORIGINCITYNAME': 'Newark, NJ',
  'ORIGINSTATE': 'NJ',
  'TAILNUM': 'N13750',
  'TAIL_NUMBER': 'N13750',
  'TAXIIN': 3,
  'TAXIOUT': 40,
  'UNIQUECARRIER': 'UA',
  'WHEELSOFF': 2042,
  'WHEELSON': 2301},
 {'AIRLINEID': 19977,
  'AIRTIME': 337,
  'ARRDELAY': 326,
  'ARRDELAYMINUTES': 326,
  'ARRTIME': 30,
  'CANCELLED': 0,
  'CARRIER': 'UA',
  'DEPDELAY': 310,
  'DEPTIME': 2110,
  'DESTAIRPORTID': 12892,
  'DESTCITYNAME': 'Los Angeles, CA                 ',
  'DESTSTATE': 'CA',
  'DISTANCE': 2454,
  'FLIGHTDATE': '2015-08-19T00:00:00Z',
  'FLIGHTNUM': 1243,
  'MANUFACTURER': 'Boeing',
  'MODEL': 'B737-800PAX',
  'ORIGINAIRPORTID': 11618,
  'ORIGINAIRPORTSEQID': 1161802,
  'ORIGINCITYNAME': 'Newark, NJ',
  'ORIGINSTATE': 'NJ',
  'TAILNUM': 'N27239',
  'TAIL_NUMBER': 'N27239',
  'TAXIIN': 11,
  'TAXIOUT': 32,
  'UNIQUECARRIER': 'UA',
  'WHEELSOFF': 2142,
  'WHEELSON': 19},
 {'AIRLINEID': 19977,
  'AIRTIME': 354,
  'ARRDELAY': 334,
  'ARRDELAYMINUTES': 334,
  'ARRTIME': 156,
  'CANCELLED': 0,
  'CARRIER': 'UA',
  'DEPDELAY': 321,
  'DEPTIME': 2220,
  'DESTAIRPORTID': 14771,
  'DESTCITYNAME': 'San Francisco, CA               ',
  'DESTSTATE': 'CA',
  'DISTANCE': 2565,
  'FLIGHTDATE': '2015-05-31T00:00:00Z',
  'FLIGHTNUM': 1284,
  'MANUFACTURER': 'Boeing',
  'MODEL': 'B737-900ERPAX',
  'ORIGINAIRPORTID': 11618,
  'ORIGINAIRPORTSEQID': 1161802,
  'ORIGINCITYNAME': 'Newark, NJ',
  'ORIGINSTATE': 'NJ',
  'TAILNUM': 'N61881',
  'TAIL_NUMBER': 'N61881',
  'TAXIIN': 6,
  'TAXIOUT': 36,
  'UNIQUECARRIER': 'UA',
  'WHEELSOFF': 2256,
  'WHEELSON': 150},
 {'AIRLINEID': 19977,
  'AIRTIME': 329,
  'ARRDELAY': 356,
  'ARRDELAYMINUTES': 356,
  'ARRTIME': 211,
  'CANCELLED': 0,
  'CARRIER': 'UA',
  'DEPDELAY': 306,
  'DEPTIME': 2205,
  'DESTAIRPORTID': 12892,
  'DESTCITYNAME': 'Los Angeles, CA                 ',
  'DESTSTATE': 'CA',
  'DISTANCE': 2454,
  'FLIGHTDATE': '2015-05-31T00:00:00Z',
  'FLIGHTNUM': 1747,
  'MANUFACTURER': 'Boeing',
  'MODEL': 'B737-800PAX',
  'ORIGINAIRPORTID': 11618,
  'ORIGINAIRPORTSEQID': 1161802,
  'ORIGINCITYNAME': 'Newark, NJ',
  'ORIGINSTATE': 'NJ',
  'TAILNUM': 'N14214',
  'TAIL_NUMBER': 'N14214',
  'TAXIIN': 18,
  'TAXIOUT': 79,
  'UNIQUECARRIER': 'UA',
  'WHEELSOFF': 2324,
  'WHEELSON': 153},
 {'AIRLINEID': 19977,
  'AIRTIME': 322,
  'ARRDELAY': 374,
  'ARRDELAYMINUTES': 374,
  'ARRTIME': 122,
  'CANCELLED': 0,
  'CARRIER': 'UA',
  'DEPDELAY': 348,
  'DEPTIME': 2158,
  'DESTAIRPORTID': 12892,
  'DESTCITYNAME': 'Los Angeles, CA                 ',
  'DESTSTATE': 'CA',
  'DISTANCE': 2454,
  'FLIGHTDATE': '2015-06-15T00:00:00Z',
  'FLIGHTNUM': 1289,
  'MANUFACTURER': 'Boeing',
  'MODEL': 'B737-800PAX',
  'ORIGINAIRPORTID': 11618,
  'ORIGINAIRPORTSEQID': 1161802,
  'ORIGINCITYNAME': 'Newark, NJ',
  'ORIGINSTATE': 'NJ',
  'TAILNUM': 'N78524',
  'TAIL_NUMBER': 'N78524',
  'TAXIIN': 30,
  'TAXIOUT': 32,
  'UNIQUECARRIER': 'UA',
  'WHEELSOFF': 2230,
  'WHEELSON': 52},
 {'AIRLINEID': 19977,
  'AIRTIME': 315,
  'ARRDELAY': 380,
  'ARRDELAYMINUTES': 380,
  'ARRTIME': 2212,
  'CANCELLED': 0,
  'CARRIER': 'UA',
  'DEPDELAY': 347,
  'DEPTIME': 1847,
  'DESTAIRPORTID': 12892,
  'DESTCITYNAME': 'Los Angeles, CA                 ',
  'DESTSTATE': 'CA',
  'DISTANCE': 2454,
  'FLIGHTDATE': '2012-08-10T00:00:00Z',
  'FLIGHTNUM': 17,
  'MANUFACTURER': 'Boeing',
  'MODEL': 'B737-800PAX',
  'ORIGINAIRPORTID': 11618,
  'ORIGINAIRPORTSEQID': 1161802,
  'ORIGINCITYNAME': 'Newark, NJ',
  'ORIGINSTATE': 'NJ',
  'TAILNUM': 'N73291',
  'TAIL_NUMBER': 'N73291',
  'TAXIIN': 31,
  'TAXIOUT': 39,
  'UNIQUECARRIER': 'UA',
  'WHEELSOFF': 1926,
  'WHEELSON': 2141},
 {'AIRLINEID': 19977,
  'AIRTIME': 358,
  'ARRDELAY': 385,
  'ARRDELAYMINUTES': 385,
  'ARRTIME': 40,
  'CANCELLED': 0,
  'CARRIER': 'UA',
  'DEPDELAY': 319,
  'DEPTIME': 2019,
  'DESTAIRPORTID': 14771,
  'DESTCITYNAME': 'San Francisco, CA               ',
  'DESTSTATE': 'CA',
  'DISTANCE': 2565,
  'FLIGHTDATE': '2015-05-31T00:00:00Z',
  'FLIGHTNUM': 1670,
  'MANUFACTURER': 'Boeing',
  'MODEL': 'B737-900ERPAX',
  'ORIGINAIRPORTID': 11618,
  'ORIGINAIRPORTSEQID': 1161802,
  'ORIGINCITYNAME': 'Newark, NJ',
  'ORIGINSTATE': 'NJ',
  'TAILNUM': 'N37470',
  'TAIL_NUMBER': 'N37470',
  'TAXIIN': 6,
  'TAXIOUT': 77,
  'UNIQUECARRIER': 'UA',
  'WHEELSOFF': 2136,
  'WHEELSON': 34}]

In [23]:
display(pd.DataFrame(response.json()['resultSet']))

,AIRLINEID,AIRTIME,ARRDELAY,ARRDELAYMINUTES,ARRTIME,CANCELLED,CARRIER,DEPDELAY,DEPTIME,DESTAIRPORTID,...,ORIGINAIRPORTSEQID,ORIGINCITYNAME,ORIGINSTATE,TAILNUM,TAIL_NUMBER,TAXIIN,TAXIOUT,UNIQUECARRIER,WHEELSOFF,WHEELSON
0,19977,330,285,285,220,0,UA,311,2310,14771,...,1161802,"Newark, NJ",NJ,N67845,N67845,7,33,UA,2343,213
1,19977,319,320,320,2304,0,UA,312,2002,14679,...,1161802,"Newark, NJ",NJ,N13750,N13750,3,40,UA,2042,2301
2,19977,337,326,326,30,0,UA,310,2110,12892,...,1161802,"Newark, NJ",NJ,N27239,N27239,11,32,UA,2142,19
3,19977,354,334,334,156,0,UA,321,2220,14771,...,1161802,"Newark, NJ",NJ,N61881,N61881,6,36,UA,2256,150
4,19977,329,356,356,211,0,UA,306,2205,12892,...,1161802,"Newark, NJ",NJ,N14214,N14214,18,79,UA,2324,153
5,19977,322,374,374,122,0,UA,348,2158,12892,...,1161802,"Newark, NJ",NJ,N78524,N78524,30,32,UA,2230,52
6,19977,315,380,380,2212,0,UA,347,1847,12892,...,1161802,"Newark, NJ",NJ,N73291,N73291,31,39,UA,1926,2141
7,19977,358,385,385,40,0,UA,319,2019,14771,...,1161802,"Newark, NJ",NJ,N37470,N37470,6,77,UA,2136,34

## Generate a Call and don't wait for the results
If you know that your statement will take a long time to return a result, you can check back later. Turn **sync** off to avoid waiting.

In [24]:
sql = \
"""
SELECT AC."TAIL_NUMBER", AC."MANUFACTURER", AC."MODEL", OT."FLIGHTDATE", OT."UNIQUECARRIER", OT."AIRLINEID", OT."CARRIER", OT."TAILNUM", OT."FLIGHTNUM", OT."ORIGINAIRPORTID", OT."ORIGINAIRPORTSEQID", OT."ORIGINCITYNAME", OT."ORIGINSTATE", OT."DESTAIRPORTID", OT."DESTCITYNAME", OT."DESTSTATE", OT."DEPTIME", OT."DEPDELAY", OT."TAXIOUT", OT."WHEELSOFF", OT."WHEELSON", OT."TAXIIN", OT."ARRTIME", OT."ARRDELAY", OT."ARRDELAYMINUTES", OT."CANCELLED", OT."AIRTIME", OT."DISTANCE"
  FROM "ONTIME"."ONTIME" OT, "ONTIME"."AIRCRAFT" AC 
  WHERE AC."TAIL_NUMBER" = OT.TAILNUM
  AND ORIGINSTATE = 'NJ'
  AND DESTSTATE = 'CA'
  AND AC.MANUFACTURER = 'Boeing' 
  AND AC.MODEL LIKE 'B737%'
  AND OT.TAXIOUT > 30
  AND OT.DISTANCE > 2000
  AND OT.DEPDELAY > 300
  ORDER BY OT.ARRDELAY;
"""

body = {
  "isQuery": True,
  "sqlStatement": sql,
  "sync": False
}

In [25]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_execsql), verify=False, headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [26]:
print(response)

<Response [202]>

Retrieve the job id, so that you can retrieve the results later.

In [27]:
job_id = response.json()["id"]

In [28]:
print(job_id)

76c3ac4a-1223-490a-b33a-93900c7a6bed

## Retrieve Result set using Job ID
The service API needs to be appended with the Job ID.

In [29]:
API_get = "/v1/services/"

We can limit the number of rows that we return at a time. Setting the limit to zero means all of the rows are to be returned.

In [30]:
body = {
  "limit": 0
}

Get the results.

In [31]:
try:
    response = requests.get("{}{}{}".format(Db2RESTful,API_get,job_id), verify=False, headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [32]:
print(response)

<Response [200]>

Retrieve the results.

In [33]:
display(pd.DataFrame(response.json()['resultSet']))

,AIRLINEID,AIRTIME,ARRDELAY,ARRDELAYMINUTES,ARRTIME,CANCELLED,CARRIER,DEPDELAY,DEPTIME,DESTAIRPORTID,...,ORIGINAIRPORTSEQID,ORIGINCITYNAME,ORIGINSTATE,TAILNUM,TAIL_NUMBER,TAXIIN,TAXIOUT,UNIQUECARRIER,WHEELSOFF,WHEELSON
0,19977,330,285,285,220,0,UA,311,2310,14771,...,1161802,"Newark, NJ",NJ,N67845,N67845,7,33,UA,2343,213
1,19977,319,320,320,2304,0,UA,312,2002,14679,...,1161802,"Newark, NJ",NJ,N13750,N13750,3,40,UA,2042,2301
2,19977,337,326,326,30,0,UA,310,2110,12892,...,1161802,"Newark, NJ",NJ,N27239,N27239,11,32,UA,2142,19
3,19977,354,334,334,156,0,UA,321,2220,14771,...,1161802,"Newark, NJ",NJ,N61881,N61881,6,36,UA,2256,150
4,19977,329,356,356,211,0,UA,306,2205,12892,...,1161802,"Newark, NJ",NJ,N14214,N14214,18,79,UA,2324,153
5,19977,322,374,374,122,0,UA,348,2158,12892,...,1161802,"Newark, NJ",NJ,N78524,N78524,30,32,UA,2230,52
6,19977,315,380,380,2212,0,UA,347,1847,12892,...,1161802,"Newark, NJ",NJ,N73291,N73291,31,39,UA,1926,2141
7,19977,358,385,385,40,0,UA,319,2019,14771,...,1161802,"Newark, NJ",NJ,N37470,N37470,6,77,UA,2136,34

Now that you have some experience with the built in SQL service, you can try creating your own endpoint service.

## Using RESTful Endpoint Services
The most common way of interacting with the service is to fully encapsulate an SQL statement, including any parameters, in a unique RESTful service. This creates a secure separation between the database service and the RESTful programming service. It also allows you to create versions of the same service to make maintenance and evolution of programming models simple and predictable.

### Setup the Meta Data Tables and Stored Procedures to manage Endpoint Services
Before you can start defining and running your own RESTful Endpoint services you need call the service to create the table and stored procedures in the database you are using.

In [34]:
API_makerest = "/v1/metadata/setup"

You can specify the schema that the new table and stored procedures will be created in. In this example we will use **DB2REST**

In [35]:
body = {
  "schema": "DB2REST"
}

In [36]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_makerest), verify=False, headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

If the process is successful the service returns a 201 status code.

In [37]:
if (response.status_code == 201):
  print(response.reason)
else:
  print(response.json())

Created

### Create a RESTful Service
Now that the RESTful Service metadata is created in your database, you can create your first service. In this example you will pass an employee numb er, a 6 character string, to the service. It will return the department number of the employee.

In [38]:
API_makerest = "/v1/services"

The first step is to define the SQL that we want in the RESTful call. Parameters are identified using an ampersand "@". Notice that our SQL is nicely formatted to make this notebook easier to ready. However when creating a service it is good practice to remove the line break characters from your SQL statement.

In [39]:
sql = \
"""
SELECT COUNT(AC."TAIL_NUMBER") FROM "ONTIME"."ONTIME" OT, "ONTIME"."AIRCRAFT" AC 
  WHERE AC."TAIL_NUMBER" = OT.TAILNUM
  AND ORIGINSTATE = @STATE
  AND DESTSTATE = 'CA'
  AND AC.MANUFACTURER = 'Boeing' 
  AND AC.MODEL LIKE 'B737%'
  AND OT.TAXIOUT > 30
  AND OT.DISTANCE > 2000
  AND OT.DEPDELAY > @DELAY
  FETCH FIRST 5 ROWS ONLY
"""
sql = sql.replace("\n","")

The next step is defining the json body to send along with the REST call.

In [40]:
body = {"isQuery": True,
       "parameters": [
         {
         "datatype": "CHAR(2)",
         "name": "@STATE"
         },
         {
         "datatype": "INT",
         "name": "@DELAY"    
         }
       ],
       "schema": "DEMO",
       "serviceDescription": "Delay",
       "serviceName": "delay",
       "sqlStatement": sql,
       "version": "1.0"
}

Now submit the full RESTful call to create the new service.

In [41]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_makerest), verify=False, headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [42]:
print(response)

<Response [400]>

### Call the new RESTful Service
Now you can call the RESTful service. In this case we will pass the stock symbol CAT. But like in the previous example you can try rerunning the service call with different stock symbols.

In [43]:
API_runrest = "/v1/services/delay/1.0"

In [44]:
body = {
  "parameters": {
    "@STATE": "NY","@DELAY":"300"
  },
  "sync": True
}

In [45]:
try:
    response = requests.post("{}{}".format(Db2RESTful,API_runrest), verify=False, headers=headers, json=body)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [46]:
print("{}{}".format(Db2RESTful,API_runrest))

https://10.0.0.201:31315/v1/services/delay/1.0

In [47]:
print(response)

<Response [200]>

In [48]:
print(response.json())

{'jobStatus': 4, 'jobStatusDescription': 'Job is complete', 'resultSet': [{'1': 7}], 'rowCount': 1}

You can retrieve the result set, convert it into a Dataframe and display the table.

In [49]:
display(pd.DataFrame(response.json()['resultSet']))

   1
0  7

## Loop through the new call
Now you can call the RESTful service with different values.

In [50]:
API_runrest = "/v1/services/delay/1.0"

In [51]:
repeat = 2
for x in range(0, repeat):
    for state in ("OH", "NJ", "NY", "FL", "MI"):

        body = {
          "parameters": {
            "@STATE": state,"@DELAY": "240"
          },
          "sync": True
        }
        try:
            response = requests.post("{}{}".format(Db2RESTful,API_runrest), verify=False, headers=headers, json=body)
            print(state + ": " + str(response.json()['resultSet']))
        except Exception as e:
            print("Unable to call RESTful service. Error={}".format(repr(e)))

OH: [{'1': 2}]
NJ: [{'1': 27}]
NY: [{'1': 12}]
FL: [{'1': 1}]
MI: [{'1': 1}]
OH: [{'1': 2}]
NJ: [{'1': 27}]
NY: [{'1': 12}]
FL: [{'1': 1}]
MI: [{'1': 1}]

## Managing Your Services 
There are several service calls you can use to help manage the Db2 RESTful Endpoint service.

## List Available Services
You can also list all the user defined services you have access to

In [52]:
API_listrest = "/v1/services"

In [53]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), verify=False, headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [54]:
print(response.json())

{'Db2Services': [{'lastModified': '2022-03-28T00:05:43.772163Z', 'serviceCreator': 'admin', 'serviceDescription': 'Delay', 'serviceName': 'delay', 'serviceUpdater': 'admin', 'version': '1.0'}, {'lastModified': '2022-03-28T11:33:31.415039Z', 'serviceCreator': 'admin', 'serviceDescription': 'Tables', 'serviceName': 'tables', 'serviceUpdater': 'admin', 'version': '1.0'}]}

In [55]:
display(pd.DataFrame(response.json()['Db2Services']))

,lastModified,serviceCreator,serviceDescription,serviceName,serviceUpdater,version
0,2022-03-28T00:05:43.772163Z,admin,Delay,delay,admin,1.0
1,2022-03-28T11:33:31.415039Z,admin,Tables,tables,admin,1.0

## Get Service Details
You can also get the details of a service

In [56]:
API_getDetails = "/v1/services/delay/3.0"

In [57]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_getDetails), verify=False, headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [58]:
json = response.json()
print(json)

{'errors': [{'code': 'not_found', 'message': "[Db2 REST] The service 'delay' version '3.0' does not exist."}], 'trace': None}

You can format the result to make it easier to ready. For example, here are the input and outputs.

In [59]:
display(pd.DataFrame(json['inputParameters']))
display(pd.DataFrame(json['resultSetFields']))

KeyError: 'inputParameters'

## Delete a Service
A single call is also available to delete a service

In [60]:
API_deleteService = "/v1/services"
Service = "/delay"
Version = "/1.0"

In [61]:
try:
    response = requests.delete("{}{}{}{}".format(Db2RESTful,API_deleteService,Service,Version), verify=False, headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [62]:
print (response)

<Response [204]>

## Get Service Logs
You can also easily download the Db2 RESTful Endpoint service logs.

In [63]:
API_listrest = "/v1/logs"

In [64]:
try:
    response = requests.get("{}{}".format(Db2RESTful,API_listrest), verify=False, headers=headers)
except Exception as e:
    print("Unable to call RESTful service. Error={}".format(repr(e)))

In [65]:
if (response.status_code == 200):
  myFile = response.content
  open('/tmp/logs.zip', 'wb').write(myFile)
  print("Downloaded",len(myFile),"bytes.")
else:
  print(response.json())

Downloaded 7141 bytes.

To see the content of the logs, open the Files browser on machine host3 (10.0.0.4). Navigate to the **/tmp** directory and unzip the logs file.

## Using the Db2 REST Class
For your convenience, everything in the lessons above has been included into a Db2REST Python Class. You can add or use this code as part of your own Jupyter notebooks to make working with the Db2 RESTful Endpoint service quick and easy. 

There are also lots of examples in the following lesson on how to use the class.

In [66]:
# Run the Db2REST Class library
# Used to construct and reuse an Autentication Key
# Used to construct RESTAPI URLs and JSON payloads
import json
import requests
import pandas as pd

class Db2REST():
    
    def __init__(self, RESTServiceURL):
        self.headers = {"content-type": "application/json"}
        self.RESTServiceURL = RESTServiceURL
        self.version = "/v1"
        self.API_auth = self.version + "/auth"
        self.API_makerest = self.version + "/metadata/setup"
        self.API_services = self.version + "/services/"       
        self.API_version = self.version + "/version/"      
        self.API_execsql = self.API_services + "execsql"
        self.API_monitor = self.API_services + "monitor" 
        
        self.Verify = False
        
        import urllib3
        urllib3.disable_warnings()
        
    def connectDatabase(self, dbHost, dbName, dbPort, isSSLConnection, dbUsername, dbPassword, expiryTime="300m"):
        self.dbHost = dbHost
        self.dbName = dbName
        self.dbPort = dbPort
        self.isSSLConnection = isSSLConnection
        self.dbusername = dbUsername
        self.dbpassword = dbPassword      
        self.connectionBody = {
            "dbParms": {
            "dbHost": dbHost,
            "dbName": dbName,
            "dbPort": dbPort,
            "isSSLConnection": isSSLConnection,
            "username": dbUsername,
            "password": dbPassword
            },
            "expiryTime": expiryTime
        }
        try:
            response = requests.post("{}{}".format(self.RESTServiceURL,self.API_auth), verify=self.Verify, headers=self.headers, json=self.connectionBody)
            print (response)
        except Exception as e:
            print("Unable to call RESTful service. Error={}".format(repr(e)))
            
        if (response.status_code == 200):
            self.token = response.json()["token"]
            print("Successfully connected and retrieved access token")
        else:
            print(response)
            print(response.json())
            print(response.json()["errors"])
    
        self.headers = {
            "authorization": f"{self.token}",
            "content-type": "application/json"
        }
        
    def getConnection(self):
        return self.connectionBody
    
    def getService(self):
        return self.RESTServiceURL
    
    def getToken(self):
        return("Token: {}".format(self.token))
    
    def getVersion(self):
        try:
            print("{}{}".format(self.RESTServiceURL,self.API_version))
            response = requests.get("{}{}".format(self.RESTServiceURL,self.API_version),verify=self.Verify)
        except Exception as e:
            print("Unable to call RESTful service. Error={}".format(repr(e)))
         
        if (response.status_code == 200):
            return response.json()['version']
        else:
            print(response)
            print(response.json()['errors'][0]['more_info'])        
        
    def runStatement(self, sql, isQuery=True, sync=True, parameters={}):
        body = {
            "isQuery": isQuery,
            "sqlStatement": sql,
            "sync": sync,
            "parameters": parameters
        }
        
        try:
            response = requests.post("{}{}".format(self.RESTServiceURL,self.API_execsql), verify=self.Verify, headers=self.headers, json=body)
        except Exception as e:
            print("Unable to call RESTful service. Error={}".format(repr(e)))
         
        if (response.status_code == 200):
            return pd.DataFrame(response.json()['resultSet'])
        elif (response.status_code == 202):
            return response.json()["id"]
        else:
            print(response.json()['errors'][0]['more_info'])
            
    def getResult(self, job_id, limit=0):
        body = {"limit": limit}
        
        try:
            response = requests.get("{}{}{}".format(self.RESTServiceURL,self.API_services,job_id), verify=self.Verify, headers=self.headers, json=body)
        except Exception as e:
            print("Unable to call RESTful service. Error={}".format(repr(e)))
  
        if (response.status_code == 200):
            json = response.json()   
            if (json['jobStatus'] == 2):
                return json['jobStatusDescription']
            elif (json['jobStatus'] == 3):
                return pd.DataFrame(json['resultSet'])               
            elif (json['jobStatus'] == 4):
                return pd.DataFrame(json['resultSet'])  
            else: 
                return json
        elif (response.status_code == 404):
            print(response.json()['errors'])  
        elif  (response.status_code == 500):
            print(response.json()['errors'][0]['more_info'])            
        else:
            print(response.json())
            
    def createServiceMetadata(self, serviceSchema="Db2REST"):
        self.serviceSchema = serviceSchema
        body = {"schema": self.serviceSchema}
        try:
            response = requests.post("{}{}".format(self.RESTServiceURL,self.API_makerest), verify=self.Verify, headers=self.headers, json=body)
            if (response.status_code == 201):
                print(response.reason)
            else:
                print(response.json())
            
        except Exception as e:
            print("Unable to call RESTful service. Error={}".format(repr(e)))
            

    def listServices(self):
        try:
            response = requests.get("{}{}".format(self.RESTServiceURL,self.API_services), verify=self.Verify, headers=self.headers)
            return pd.DataFrame(response.json()['Db2Services'])
        except Exception as e:
            print("Unable to call RESTful service. Error={}".format(repr(e)))
            
    def getServiceDetails(self, serviceName, version):
        try:
            response = requests.get("{}{}{}{}".format(self.RESTServiceURL,self.API_services,"/" + serviceName,"/" + version), verify=self.Verify, headers=self.headers)
            print(response.status_code)
            if (response.status_code == 200):
                description = response.json()
                print("Input parameters:")
                print(description["inputParameters"])
                print("Result format:")
                print(description["resultSetFields"])
            else:
                print(response.json())        
        except Exception as e:
            print("Unable to call RESTful service. Error={}".format(repr(e)))            
            
    def createService(self, schema, serviceDescription, serviceName, sql, version, parameters=False, isQuery=True):
        if (parameters==False):
            body = {"isQuery": isQuery,
                "schema": schema,
                "serviceDescription": serviceDescription,
                "serviceName": serviceName,
                "sqlStatement": sql.replace("\n",""),
                "version": version
            } 
        else: 
            body = {"isQuery": isQuery,
                "schema": schema,
                "serviceDescription": serviceDescription,
                "serviceName": serviceName,
                "sqlStatement": sql.replace("\n",""),
                "version": version,
                "parameters": parameters
            } 
        
        try:
            response = requests.post("{}{}".format(self.RESTServiceURL,self.API_services), verify=self.Verify, headers=self.headers, json=body)
        except Exception as e:
            print("Unable to call RESTful service. Error={}".format(repr(e)))
            
        if (response.status_code == 201):
             print("Service: " + serviceName + " Version: " + version + " created")
        else:
            print(response.json())  
            
    def deleteService(self, serviceName, version):
        try:
            response = requests.delete("{}{}{}{}".format(self.RESTServiceURL,self.API_services,"/" + serviceName,"/" + version), verify=self.Verify, headers=self.headers)
        except Exception as e:
            print("Unable to call RESTful service. Error={}".format(repr(e)))
            
        if (response.status_code == 204):
            print("Service: " + serviceName + " Version: " + version + " deleted")
        else:
            print(response.json())   
            
    def callService(self, serviceName, version, parameters, sync=True):
        body = {
            "parameters": parameters,
            "sync": sync
        }
        try:
            response = requests.post("{}{}{}{}".format(self.RESTServiceURL,self.API_services,"/" + serviceName,"/" + version), verify=self.Verify, headers=self.headers, json=body)
            if (response.status_code == 200):
                return pd.DataFrame(response.json()['resultSet'])
            elif (response.status_code == 202):
                return response.json()["id"]
            else:
                print(response.json()['errors'][0]['more_info'])
                
        except Exception as e:
            if (repr(e) == "KeyError('more_info',)"): 
                print("Service not found")
            else: 
                print("Unable to call RESTful service. Error={}".format(repr(e)))
                
    def monitorJobs(self):
        try:
            response = requests.get("{}{}".format(self.RESTServiceURL,self.API_monitor), verify=self.Verify, headers=self.headers)
            if (response.status_code == 200):
                return pd.DataFrame(response.json()['MonitorServices'])
            else:
                print(response.json())    
        except Exception as e:
            print("Unable to call RESTful service. Error={}".format(repr(e)))

### Setting up a Db2 RESTful Endpoint Service Class instance
To use the class first create an instance of the class. The cell below creates an object called **Db2RESTService** from the **Db2REST** class. The first call to the object is **getVersion** to confirm the version of the RESTful Endpoint Service you are connected to.

#### Connecting to the service to the database
Unless your service is already bound to a single database, the call below connects it to a single Db2 database. You can run this command again to connect to a different database from the same RESTful Endpoint service.

In [67]:
Db2RESTService = Db2REST("https://10.0.0.201:31315")

In [68]:
print("Db2 RESTful Endpoint Service Version: " + Db2RESTService.getVersion())

https://10.0.0.201:31315/v1/version/
Db2 RESTful Endpoint Service Version: 11.5.6.0-cn1

#### Connect to DV

In [69]:
Db2RESTService.connectDatabase("10.0.0.201", "BIGSQL", 31193, False, "admin", "CP4DDataFabric")

<Response [200]>
Successfully connected and retrieved access token

#### Confirming the service settings
Once the connection to the RESTful Endpoint Service and Db2 is established you can always check your settings using the following calls.

In [70]:
print(Db2RESTService.getService())

https://10.0.0.201:31315

In [71]:
print(Db2RESTService.getConnection())

{'dbParms': {'dbHost': '10.0.0.201', 'dbName': 'BIGSQL', 'dbPort': 31193, 'isSSLConnection': False, 'username': 'admin', 'password': 'CP4DDataFabric'}, 'expiryTime': '300m'}

In [72]:
print(Db2RESTService.getToken())

Token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhZG1pbiI6dHJ1ZSwiY2xpZW50X2lkIjoiZWQxMjA5NTMtNGNlYy00MjE0LWJiNWUtYmExYTJmYjczNDdmIiwiZXhwIjoxNjQ5NDQ1NjMyLCJpc3MiOiJhZG1pbiJ9.I7GBC14e09xQiWlpXEn3X0UGJxLZjyUwVeIzPc05X-ZGm88cdK3hfajUZ5uDSnpm1gLR5VvLxFyUVZBkMV-OvE1dwO_RiDWXnk7j5AHQ8zOhx3Z6P2tKiTsBtYwBZhag-twqz0shI7MQgya31ONxDNugDRkrPu-Q1SNW3ncNj1NWEMe39cntZP8H9dIrA7cGg-UkhHId1TGogiK0xDj_g0D4OeCU4Y_Q9j9t-u4VGm53lhjvOEj7ogIHlPSkEh8JuEuftfpt7CN-8scg4O6xrJcm-aqOOb6aSJQjmLDn-thQSDyQBXRvXFvJNj4BgAp6y8iXuPXwOFTzvgnUYRR-4g

### Running SQL Through the Service
You can run an SQL Statement through the RESTful service as a simple text string.

Let's start by defining the SQL to run:

In [73]:
sql = \
"""
SELECT AC."TAIL_NUMBER", AC."MANUFACTURER", AC."MODEL", OT."FLIGHTDATE", OT."UNIQUECARRIER", OT."AIRLINEID", OT."CARRIER", OT."TAILNUM", OT."FLIGHTNUM", OT."ORIGINAIRPORTID", OT."ORIGINAIRPORTSEQID", OT."ORIGINCITYNAME", OT."ORIGINSTATE", OT."DESTAIRPORTID", OT."DESTCITYNAME", OT."DESTSTATE", OT."DEPTIME", OT."DEPDELAY", OT."TAXIOUT", OT."WHEELSOFF", OT."WHEELSON", OT."TAXIIN", OT."ARRTIME", OT."ARRDELAY", OT."ARRDELAYMINUTES", OT."CANCELLED", OT."AIRTIME", OT."DISTANCE"
  FROM "ONTIME"."ONTIME" OT, "ONTIME"."AIRCRAFT" AC 
  WHERE AC."TAIL_NUMBER" = OT.TAILNUM
  AND ORIGINSTATE = 'NJ'
  AND DESTSTATE = 'CA'
  AND AC.MANUFACTURER = 'Boeing' 
  AND AC.MODEL LIKE 'B737%'
  AND OT.TAXIOUT > 30
  AND OT.DISTANCE > 2000
  AND OT.DEPDELAY > 300
  ORDER BY OT.DEPDELAY DESC
  FETCH FIRST 5 ROWS ONLY;
"""

Now a single call to the **runStatement** routine runs the SQL synchronously and returns the result as a DataFrame

In [74]:
sql = "SELECT * FROM SYSCAT.TABLES"
result = (Db2RESTService.runStatement(sql))
display(result)

,ACCESS_MODE,ACTIVE_BLOCKS,ALTER_TIME,APPEND_MODE,AUDITEXCEPTIONENABLED,AUDITPOLICYID,AUDITPOLICYNAME,AVGCOMPRESSEDROWSIZE,AVGROWCOMPRESSIONRATIO,AVGROWSIZE,...,TABLEID,TABLEORG,TABLESIZE,TABNAME,TABSCHEMA,TBSPACE,TBSPACEID,TEMPORALTYPE,TYPE,VOLATILE
0,F,-1,2021-09-24T18:37:43.141041Z,N,N,None,None,-1,-1,-1,...,0,N,-1,SYSPROCEDURES,SYSIBM,None,0,N,V,
1,F,-1,2021-09-24T18:37:43.150284Z,N,N,None,None,-1,-1,-1,...,0,N,-1,SYSFUNCPARMS,SYSIBM,None,0,N,V,
2,F,-1,2021-09-24T18:37:43.15699Z,N,N,None,None,-1,-1,-1,...,0,N,-1,SYSPROCPARMS,SYSIBM,None,0,N,V,
3,F,-1,2021-09-24T18:37:43.162434Z,N,N,None,None,-1,-1,-1,...,0,N,-1,SYSREVTYPEMAPPINGS,SYSIBM,None,0,N,V,
4,F,-1,2021-09-24T18:37:43.173593Z,N,N,None,None,-1,-1,-1,...,0,N,-1,SYSDUMMY1,SYSIBM,None,0,N,V,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,F,-1,2021-09-24T18:37:42.89117Z,N,N,None,None,-1,-1,-1,...,0,N,-1,TABLES,SYSIBM,None,0,N,V,
1217,F,-1,2021-09-24T18:37:39.197795Z,N,N,None,None,-1,-1,-1,...,10,R,-1,SYSDATAPARTITIONS,SYSIBM,SYSCATSPACE,0,N,T,
1218,F,-1,2021-09-24T18:37:39.197795Z,N,N,None,None,-1,-1,-1,...,40,R,-1,SYSNODEGROUPDEF,SYSIBM,SYSCATSPACE,0,N,T,
1219,F,-1,2021-09-24T18:37:42.941616Z,N,N,None,None,-1,-1,-1,...,0,N,-1,PARAMETERS,SYSIBM,None,0,N,V,
1220,F,-1,2021-09-24T18:37:39.197795Z,N,N,None,None,-1,-1,-1,...,103,R,-1,SYSSECURITYPOLICYCOMPONENTRULES,SYSIBM,SYSCATSPACE,0,N,T,

You can also run the statement asynchronously so you don't have to wait for the result. In this case the result is the statement identifier that you can use to check the statement status.

In [75]:
statementID = (Db2RESTService.runStatement(sql, sync=False))
display(statementID)

'c06856c3-6e81-4241-9fda-f9cd7cdce5ee'

If you have several statements running at the same time you can check to see their status with the **monitorStatus** routine and see where they are in the service queue.

In [76]:
services = Db2RESTService.monitorJobs()
display(services)

,jobID,jobStatus,jobStatusDescription,serviceExecuter,serviceName,startTime
0,c06856c3-6e81-4241-9fda-f9cd7cdce5ee,3,Job has data available,admin,<execSQL>,2022-04-08T14:22:40.744735082Z

You can try to get the results of the statment by passing the statement identifier into the getResults routine. If the statement has finished running it will return a result set as a DataFrame. It is still running, a message is returned.

In [77]:
result = (Db2RESTService.getResult(statementID))
display(result)

,ACCESS_MODE,ACTIVE_BLOCKS,ALTER_TIME,APPEND_MODE,AUDITEXCEPTIONENABLED,AUDITPOLICYID,AUDITPOLICYNAME,AVGCOMPRESSEDROWSIZE,AVGROWCOMPRESSIONRATIO,AVGROWSIZE,...,TABLEID,TABLEORG,TABLESIZE,TABNAME,TABSCHEMA,TBSPACE,TBSPACEID,TEMPORALTYPE,TYPE,VOLATILE
0,F,-1,2021-09-24T18:37:39.197795Z,N,N,None,None,-1,-1,-1,...,67,R,-1,SYSJARCONTENTS,SYSIBM,SYSCATSPACE,0,N,T,
1,F,-1,2021-09-24T18:37:43.203918Z,N,N,None,None,-1,-1,-1,...,0,N,-1,AUDITPOLICIES,SYSCAT,None,0,N,V,
2,F,-1,2021-09-24T18:37:43.219273Z,N,N,None,None,-1,-1,-1,...,0,N,-1,AUDITUSE,SYSCAT,None,0,N,V,
3,F,-1,2021-09-24T18:37:43.232259Z,N,N,None,None,-1,-1,-1,...,0,N,-1,BUFFERPOOLDBPARTITIONS,SYSCAT,None,0,N,V,
4,F,-1,2021-09-24T18:37:43.241391Z,N,N,None,None,-1,-1,-1,...,0,N,-1,BUFFERPOOLEXCEPTIONS,SYSCAT,None,0,N,V,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1216,F,-1,2021-09-24T18:37:39.197795Z,N,N,None,None,-1,-1,-1,...,63,R,-1,SYSTRANSFORMS,SYSIBM,SYSCATSPACE,0,N,T,
1217,F,-1,2021-09-24T18:37:39.197795Z,N,N,None,None,-1,-1,-1,...,62,R,-1,SYSTABOPTIONS,SYSIBM,SYSCATSPACE,0,N,T,
1218,F,-1,2021-09-24T18:37:39.197795Z,N,N,None,None,-1,-1,-1,...,64,R,-1,SYSUSEROPTIONS,SYSIBM,SYSCATSPACE,0,N,T,
1219,F,-1,2021-09-24T18:37:39.197795Z,N,N,None,None,-1,-1,-1,...,66,R,-1,SYSWRAPPERS,SYSIBM,SYSCATSPACE,0,N,T,
1220,F,-1,2021-09-24T18:37:39.197795Z,N,N,None,None,-1,-1,-1,...,38,R,-1,SYSSCHEMATA,SYSIBM,SYSCATSPACE,0,N,T,

#### Passing Parameters when running SQL Statements
You can also define a single SQL statement with ? parameters and call that statement with different values using the same **runStatement** routine.

In [78]:
sqlparm = \
"""
SELECT AC."TAIL_NUMBER", AC."MANUFACTURER", AC."MODEL", OT."FLIGHTDATE", OT."UNIQUECARRIER", OT."AIRLINEID", OT."CARRIER", OT."TAILNUM", OT."FLIGHTNUM", OT."ORIGINAIRPORTID", OT."ORIGINAIRPORTSEQID", OT."ORIGINCITYNAME", OT."ORIGINSTATE", OT."DESTAIRPORTID", OT."DESTCITYNAME", OT."DESTSTATE", OT."DEPTIME", OT."DEPDELAY", OT."TAXIOUT", OT."WHEELSOFF", OT."WHEELSON", OT."TAXIIN", OT."ARRTIME", OT."ARRDELAY", OT."ARRDELAYMINUTES", OT."CANCELLED", OT."AIRTIME", OT."DISTANCE"
  FROM "ONTIME"."ONTIME" OT, "ONTIME"."AIRCRAFT" AC 
  WHERE AC."TAIL_NUMBER" = OT.TAILNUM
  AND ORIGINSTATE = ?
  AND DESTSTATE = ?
  AND AC.MANUFACTURER = 'Boeing' 
  AND AC.MODEL LIKE 'B737%'
  AND OT.TAXIOUT > 30
  AND OT.DISTANCE > 2000
  AND OT.DEPDELAY > ?
  ORDER BY OT.DEPDELAY DESC
  FETCH FIRST 10 ROWS ONLY;
"""

In [79]:
result = Db2RESTService.runStatement(sqlparm,parameters={"1": 'NY', "2": 'CA', "3" : 300})
display(result)

,AIRLINEID,AIRTIME,ARRDELAY,ARRDELAYMINUTES,ARRTIME,CANCELLED,CARRIER,DEPDELAY,DEPTIME,DESTAIRPORTID,...,ORIGINAIRPORTSEQID,ORIGINCITYNAME,ORIGINSTATE,TAILNUM,TAIL_NUMBER,TAXIIN,TAXIOUT,UNIQUECARRIER,WHEELSOFF,WHEELSON
0,19790,323,364,364,441,0,DL,391,141,14679,...,1247802,"New York, NY",NY,N373DA,N373DA,4,33,DL,214,437
1,19790,313,313,313,302,0,DL,314,2345,14679,...,1247802,"New York, NY",NY,N381DN,N381DN,4,60,DL,45,258
2,19790,323,345,345,344,0,DL,304,2333,14679,...,1247801,"New York, NY",NY,N3768,N3768,5,103,DL,116,339

In [80]:
result = Db2RESTService.runStatement(sqlparm,parameters={"1": 'NJ', "2": 'CA', "3" : 200})
display(result)

,AIRLINEID,AIRTIME,ARRDELAY,ARRDELAYMINUTES,ARRTIME,CANCELLED,CARRIER,DEPDELAY,DEPTIME,DESTAIRPORTID,...,ORIGINAIRPORTSEQID,ORIGINCITYNAME,ORIGINSTATE,TAILNUM,TAIL_NUMBER,TAXIIN,TAXIOUT,UNIQUECARRIER,WHEELSOFF,WHEELSON
0,19977,322,374,374,122,0,UA,348,2158,12892,...,1161802,"Newark, NJ",NJ,N78524,N78524,30,32,UA,2230,52
1,19977,315,380,380,2212,0,UA,347,1847,12892,...,1161802,"Newark, NJ",NJ,N73291,N73291,31,39,UA,1926,2141
2,19977,354,334,334,156,0,UA,321,2220,14771,...,1161802,"Newark, NJ",NJ,N61881,N61881,6,36,UA,2256,150
3,19977,358,385,385,40,0,UA,319,2019,14771,...,1161802,"Newark, NJ",NJ,N37470,N37470,6,77,UA,2136,34
4,19977,319,320,320,2304,0,UA,312,2002,14679,...,1161802,"Newark, NJ",NJ,N13750,N13750,3,40,UA,2042,2301
5,19977,330,285,285,220,0,UA,311,2310,14771,...,1161802,"Newark, NJ",NJ,N67845,N67845,7,33,UA,2343,213
6,19977,337,326,326,30,0,UA,310,2110,12892,...,1161802,"Newark, NJ",NJ,N27239,N27239,11,32,UA,2142,19
7,19977,329,356,356,211,0,UA,306,2205,12892,...,1161802,"Newark, NJ",NJ,N14214,N14214,18,79,UA,2324,153
8,19977,392,347,347,2314,0,UA,290,1850,14771,...,1161802,"Newark, NJ",NJ,N69804,N69804,4,48,UA,1938,2310
9,19977,328,289,289,129,0,UA,286,2213,12892,...,1161802,"Newark, NJ",NJ,N37471,N37471,11,37,UA,2250,118

#### Limiting Results
You also have full control of how many rows in an answer set to return. Run the following statement using **sync=False**

In [89]:
statementID = Db2RESTService.runStatement(sqlparm, sync=False, parameters={"1": 'NJ', "2": 'CA', "3" : 200})
display(statementID)
result = (Db2RESTService.getResult(statementID))
display(result)

'57d9d2f3-a090-41de-bec5-c5efb8d68dc4'

'Job is running'

This time the **getResult** routine include a parameter to limit the result set to 5 rows.

In [90]:
result = (Db2RESTService.getResult(statementID, limit=5))
display(result)

'Job is running'

The next cell retrieves the remaining rows.

In [91]:
result = (Db2RESTService.getResult(statementID))
display(result)

,AIRLINEID,AIRTIME,ARRDELAY,ARRDELAYMINUTES,ARRTIME,CANCELLED,CARRIER,DEPDELAY,DEPTIME,DESTAIRPORTID,...,ORIGINAIRPORTSEQID,ORIGINCITYNAME,ORIGINSTATE,TAILNUM,TAIL_NUMBER,TAXIIN,TAXIOUT,UNIQUECARRIER,WHEELSOFF,WHEELSON
0,19977,322,374,374,122,0,UA,348,2158,12892,...,1161802,"Newark, NJ",NJ,N78524,N78524,30,32,UA,2230,52
1,19977,315,380,380,2212,0,UA,347,1847,12892,...,1161802,"Newark, NJ",NJ,N73291,N73291,31,39,UA,1926,2141
2,19977,354,334,334,156,0,UA,321,2220,14771,...,1161802,"Newark, NJ",NJ,N61881,N61881,6,36,UA,2256,150
3,19977,358,385,385,40,0,UA,319,2019,14771,...,1161802,"Newark, NJ",NJ,N37470,N37470,6,77,UA,2136,34
4,19977,319,320,320,2304,0,UA,312,2002,14679,...,1161802,"Newark, NJ",NJ,N13750,N13750,3,40,UA,2042,2301
5,19977,330,285,285,220,0,UA,311,2310,14771,...,1161802,"Newark, NJ",NJ,N67845,N67845,7,33,UA,2343,213
6,19977,337,326,326,30,0,UA,310,2110,12892,...,1161802,"Newark, NJ",NJ,N27239,N27239,11,32,UA,2142,19
7,19977,329,356,356,211,0,UA,306,2205,12892,...,1161802,"Newark, NJ",NJ,N14214,N14214,18,79,UA,2324,153
8,19977,392,347,347,2314,0,UA,290,1850,14771,...,1161802,"Newark, NJ",NJ,N69804,N69804,4,48,UA,1938,2310
9,19977,328,289,289,129,0,UA,286,2213,12892,...,1161802,"Newark, NJ",NJ,N37471,N37471,11,37,UA,2250,118

After all the rows have been returned the job history is removed. If you try to retrieve the results for this statement now the service won't find it.

In [92]:
result = (Db2RESTService.getResult(statementID))
display(result)

[{'code': 'not_found', 'message': "[Db2 REST] job '57d9d2f3-a090-41de-bec5-c5efb8d68dc4' not found. Verify the job ID is correct. Completed jobs are automatically deleted."}]

None

### Creating and Running Endpoint Services
If the MetaData tables have not already been created in your database you can use the following call to create the MetaData in the schema of your choice. In this case **DB2REST**.

In [93]:
Db2RESTService.createServiceMetadata("DB2REST")

Created

Let's start by defining the SQL statement. It can include parameters that have to be idenfied with an amersand "@".

In [86]:
sql = \
"""
SELECT COUNT(AC."TAIL_NUMBER") FROM "ONTIME"."ONTIME" OT, "ONTIME"."AIRCRAFT" AC 
  WHERE AC."TAIL_NUMBER" = OT.TAILNUM
  AND ORIGINSTATE = @STATE
  AND DESTSTATE = 'CA'
  AND AC.MANUFACTURER = 'Boeing' 
  AND AC.MODEL LIKE 'B737%'
  AND OT.TAXIOUT > 30
  AND OT.DISTANCE > 2000
  AND OT.DEPDELAY > @DELAY
  FETCH FIRST 5 ROWS ONLY
"""

Now we can create the service, including the two parameters, using the **createService** routine.

In [87]:
parameters = [{"datatype": "CHAR(2)","name": "@STATE"},{"datatype": "INT","name": "@DELAY"}]
schema = 'DEMO'
serviceDescription = 'Delay'
serviceName = 'delay'
version = '1.0'

Db2RESTService.createService(schema, serviceDescription, serviceName, sql, version, parameters)

Service: delay Version: 1.0 created

A call to the **listServices** routine confirms that you have created the new service.

In [88]:
services = Db2RESTService.listServices()
display(services)

,lastModified,serviceCreator,serviceDescription,serviceName,serviceUpdater,version
0,2022-04-08T14:34:50.216451Z,admin,Delay,delay,admin,1.0
1,2022-03-28T11:33:31.415039Z,admin,Tables,tables,admin,1.0

You can also see the details for any service using the **getServiceDetails** routine.

In [94]:
details = Db2RESTService.getServiceDetails("delay","1.0")
display(details)

200
Input parameters:
[{'length': 2, 'mode': 'IN', 'name': '@STATE', 'scale': 0, 'type': 'CHARACTER'}, {'length': 4, 'mode': 'IN', 'name': '@DELAY', 'scale': 0, 'type': 'INTEGER'}]
Result format:
[{'jsonType': 'number', 'length': 31, 'name': '1', 'scale': 0, 'type': 'DECIMAL'}]

None

You can all the new service using the **callService** routine. The parameters are passed into call using an array of values. By default the call is synchronous so you have to wait for the results.

In [ ]:
serviceName = 'delay'
version = '1.0'
parameters = {"@STATE": "NJ","@DELAY":"200"}
result = Db2RESTService.callService(serviceName, version, parameters)
display(result)

You can also call the service asychronously, just like we did with SQL statements earlier. Notice the additional parameter **sync=False**. Since the cell below immediately checks the status of the job you can see it has been queued.

In [ ]:
serviceName = 'delay'
version = '1.0'
parameters = {"@STATE": "NJ","@DELAY":"200"}
statementID = Db2RESTService.callService(serviceName, version, parameters, sync=False)
display(statementID)  
display(Db2RESTService.monitorJobs())

Run **monitorJobs** again to confirm that the endpoint service has completed the request.

In [ ]:
services = Db2RESTService.monitorJobs()
display(services)

And retrieve the result set.

In [ ]:
result = (Db2RESTService.getResult(statementID))
display(result)

You can also delete an existing endpoint service with a call to the **deleteService** routine.

In [ ]:
serviceName = 'delay'
version = '1.0'
Db2RESTService.deleteService(serviceName, version)

#### Using a service to query the Catalog
You can also think about creating services to explore the database catalog. For example, here is a service that accepts a schema as an input parameter and returns a list of tables in the schema.

In [ ]:
sql = \
"""
SELECT TABSCHEMA, TABNAME, ALTER_TIME FROM SYSCAT.TABLES WHERE TABSCHEMA = @SCHEMA
"""

parameters = [{"datatype": "VARCHAR(64)","name": "@SCHEMA"}]
schema = 'DEMO'
serviceDescription = 'Tables'
serviceName = 'tables'
version = '1.0'

Db2RESTService.createService(schema, serviceDescription, serviceName, sql, version, parameters)

In [ ]:
serviceName = 'tables'
version = '1.0'
result = Db2RESTService.callService(serviceName, version, parameters = {"@SCHEMA": "ONTIME"}, sync=True)
display(result)

### Incorporating the Db2 RESTFul Endpoint Class into your Python scipts
The Db2 RESTful Endpoint Class is available on GIT at https://github.com/Db2-DTE-POC/CPDDVHOL4/blob/main/RESTfulEndpointServiceClass402.ipynb. You can download a copy into your own Python library and add **%run db2restendpoint.ipynb** to your own Python notebook. You can also include the following two lines which will automatically download a copy of the library from GIT and run the Class code.

In [ ]:
!wget -O db2restendpoint.ipynb https://raw.githubusercontent.com/Db2-DTE-POC/CPDDVHOL4/main/RESTfulEndpointServiceClass402.ipynb
%run db2restendpoint.ipynb

In [ ]:
Db2RESTService = Db2REST("https://10.0.0.201:31315")

In [ ]:
print("Db2 RESTful Endpoint Service Version: " + Db2RESTService.getVersion())

## What's Next
Try experimenting. Create your own services. You can find out more at: https://www.ibm.com/support/producthub/db2/docs/content/SSEPGG_11.5.0/com.ibm.db2.luw.admin.rest.doc/doc/c_rest.html.

Also check out the OpenAPI specification for the service. It includes coding examples in Python, CURL and JavaScript. 

If you are running this notebook from a browser running inside the Cloud Pak for Data cluster, click: http://10.0.0.4:50050/docs If you are running this from a browser from your own desktop, check your welcome note for the address of the Db2 RESTful Service at port 50050 and add **docs** to the end of the URL.